body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightyellow;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.loader {
  width: 30em;
  height: 3em;
  font-size: 10px;
  position: relative;
}

.loader::before, .loader::after {
  /* content: ''; */
  content: 'loading';
  position: absolute;
  width: 50%;
  height: inherit;
  border-radius: 1em;
  font-size: 2.5em;
  color: white;
  text-align: center;
  line-height: 1em;
  animation: 5s move ease-in-out infinite;
  mix-blend-mode: multiply;
}

.loader::before {
  left: 0;
  background-color: dodgerblue;
  --direction: 1;
}

.loader::after {
  right: 0;
  background-color: hotpink;
  --direction: -1;
}

@keyframes move {
  50% {
    transform: translateX(calc(100% * var(--direction)));
  }
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
